<tr id="automation_setting_row_<%= automation_setting.id %>">
  <td class="table-plus">
    <div class="name-avatar d-flex align-items-center">
      <div class="txt">
        <div class="weight-600">
          <%= automation_setting.name %>
        </div>
      </div>
    </div>
  </td>
  <td>
    <%= automation_setting.sports_name %>
  </td>
  <td>
    <%= automation_setting.facility_names.join('、') %>
  </td>
  <td>
    <%= button_to "処理開始", execute_path, remote: true, params: { id: automation_setting.id }, class: "btn btn-primary btn-sm", data: { disable_with: "処理中..." } %>
  </td>
  <td>
    <div class="table-actions">
      <%= link_to edit_automation_setting_path(automation_setting.id), "data-color": "#265ed7", data: { turbolinks: false } do %>
        <i class="icon-copy dw dw-edit2"></i>
      <% end %>
    </div>
  </td>
  <td>
    <div class="table-actions">
      <%= link_to 'javascript:void(0);', onclick: "confirmDelete(#{automation_setting.id});", "data-color": "#e95959" do %>
        <i class="icon-copy dw dw-delete-3"></i>
      <% end %>
    </div>
  </td>
</tr>
