<% content_for :css do %>
  <%= stylesheet_link_tag 'automation_settings' %>
<% end %>

<div class="mobile-menu-overlay"></div>

<div class="main-container">
	<div class="xs-pd-20-10 pd-ltr-20">
		<div class="card-box pb-10">
			<div class="h5 pd-20 mb-0 clearfix">
				<div class="pull-left">
					<h4 class="text-blue h4">自動設定一覧</h4>
				</div>
			</div>
			<div class="clearfix" style="padding: 0px 0px 20px 20px;">
				<div class="pull-left">
					<%= link_to new_automation_setting_path, class: "btn btn-primary btn-sm scroll-click", data: { turbolinks: false } do %>
						<i class="icon-copy fi-plus"></i> 新規登録
					<% end %>
					<%= link_to "javascript:void(0);", class: "btn btn-primary btn-sm scroll-click", onclick: 'confirmDeleteSettings();' do %>
						<i class="icon-copy dw dw-delete-3"></i> 削除
					<% end %>
				</div>
			</div>
			<div class="table-responsive">
				<table class="automation-settings-table table table-striped">
					<thead>
						<tr>
							<th>
								<%= check_box_tag '', '', false, { id: 'batch_select_checkbox', "data-toggle": "tooltip", "data-placement": "top", "title": "一括選択" } %>
							</th>
							<th>
								名称
								<div class="pull-right">
									<%= link_to automation_settings_path(sort: 'name.asc'), class: (@sort_name_order == 'name asc' ? 'sort_active' : ''), data: { turbolinks: false } do %>
										<i class="icon-copy dw dw-up-arrow2 sort-icon"></i>
									<% end %>
									<%= link_to automation_settings_path(sort: 'name.desc'), class: (@sort_name_order == 'name desc' ? 'sort_active' : ''), data: { turbolinks: false } do %>
										<i class="icon-copy dw dw-down-arrow2 sort-icon"></i>
									<% end %>
								</div>
							</th>
							<th>
								スポーツ
								<div class="pull-right">
									<%= link_to automation_settings_path(sort: 'sports_type.asc'), class: (@sort_name_order == 'sports_type asc' ? 'sort_active' : ''), data: { turbolinks: false } do %>
										<i class="icon-copy dw dw-up-arrow2 sort-icon"></i>
									<% end %>
									<%= link_to automation_settings_path(sort: 'sports_type.desc'), class: (@sort_name_order == 'sports_type desc' ? 'sort_active' : ''), data: { turbolinks: false } do %>
										<i class="icon-copy dw dw-down-arrow2 sort-icon"></i>
									<% end %>
								</div>
							</th>
							<th>施設</th>
							<th>空き状況確認</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="automation_settings_tbody">
						<% @automation_settings.each do |automation_setting| %>
							<%= render partial: 'automation_setting_row', locals: { automation_setting: automation_setting } %>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="pagination-area">
				<%= paginate @automation_settings, theme: 'twitter-bootstrap-4' %>
			</div>
		</div>
	</div>
</div>

<!-- js -->
<%= javascript_include_tag 'vendors/scripts/core' %>
<%= javascript_include_tag 'vendors/scripts/script.min' %>
<%= javascript_include_tag 'vendors/scripts/process' %>
<%= javascript_include_tag 'vendors/scripts/layout-settings' %>
<%= javascript_include_tag 'src/plugins/apexcharts/apexcharts.min' %>
<%= javascript_include_tag 'src/plugins/datatables/js/jquery.dataTables.min' %>
<%= javascript_include_tag 'src/plugins/datatables/js/dataTables.bootstrap4.min' %>
<%= javascript_include_tag 'src/plugins/datatables/js/dataTables.responsive.min' %>
<%= javascript_include_tag 'src/plugins/datatables/js/responsive.bootstrap4.min' %>
<%= javascript_include_tag 'vendors/scripts/dashboard3' %>
<%= javascript_include_tag 'icheck/icheck' %>

<script type="text/javascript">
	$(function() {
		toggleDisplaySearchClear(document.querySelector('.search-input'));

		// icheck
		const batchSelectCheckBox = $("#batch_select_checkbox");
		const checkBoxes = $(".automation_setting_checkbox");

		batchSelectCheckBox.iCheck({ checkboxClass: 'icheckbox_flat-blue' });
		checkBoxes.iCheck({ checkboxClass: 'icheckbox_flat-blue' });

		batchSelectCheckBox.on('ifClicked', function(event) {
			$(this).iCheck('toggle');
			const checkCondition = event.target.checked ? 'check' : 'uncheck';
			checkBoxes.iCheck(checkCondition);
		});

		checkBoxes.on('ifClicked', function() {
			$(this).iCheck('toggle');
			let checkCondition = 'uncheck';

			const checkedCheckBoxes = $.grep(checkBoxes, function(checkBox) { return checkBox.checked });
			if (checkBoxes.length === checkedCheckBoxes.length) {
				checkCondition = 'check';
			}

			batchSelectCheckBox.iCheck(checkCondition);
		});
	});
</script>
