<% content_for :css do %>
  <%= stylesheet_link_tag 'users' %>
<% end %>

<div class="mobile-menu-overlay"></div>

<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">

      <div class="pd-20 card-box mb-30">
        <div class="clearfix">
          <div class="pull-left">
            <h4 class="text-blue h4">パスワード変更</h4>
          </div>
        </div>
        <%= form_with url: update_password_path, method: :put, local: true, html: { onsubmit: "return checkPasswords();" } do |f| %>
          <div class="form-group password-division">
            <%= label_tag '', '現在のパスワード' %>
            <%= f.password_field :current_password, class: 'form-control', maxlength: 8  %>
            <span class="icon-copy fa fa-eye password-confirm-eye" onclick="togglePassword(this);"></span>
          </div>
          <div class="form-group password-division">
            <%= label_tag '', '新しいパスワード' %>
            <%= f.password_field :new_password, class: 'form-control', maxlength: 8  %>
            <span class="icon-copy fa fa-eye password-confirm-eye" onclick="togglePassword(this);"></span>
          </div>
          <div class="form-group password-division">
            <%= label_tag '', '新しいパスワード（確認用）' %>
            <%= f.password_field :new_password_confirmation, class: 'form-control', maxlength: 8  %>
            <span class="icon-copy fa fa-eye password-confirm-eye" onclick="togglePassword(this);"></span>
          </div>
          <div>
            <%= f.submit "更新", class: "btn btn-primary", data: { disable_with: false } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- js -->
<%= javascript_include_tag 'vendors/scripts/core' %>
<%= javascript_include_tag 'vendors/scripts/script.min' %>
<%= javascript_include_tag 'vendors/scripts/process' %>
<%= javascript_include_tag 'vendors/scripts/layout-settings' %>
