<% content_for :css do %>
  <%= stylesheet_link_tag 'users' %>
<% end %>

<div class="mobile-menu-overlay"></div>

<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="pd-20 card-box mb-30">
        <div class="clearfix">
          <div class="pull-left">
            <h4 class="text-blue h4">ユーザー情報編集</h4>
          </div>
        </div>
        <%= form_with model: current_user, url: user_path, method: :put, local: true, html: { onsubmit: "return checkUserValues();" } do |f| %>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <%= label_tag '', 'ユーザー名' %>
                <%= f.text_field :user_name, id: 'user_name', class: 'form-control user-name-input', maxlength: 15 %>
              </div>
              <div class="form-group">
                <%= label_tag '', '利用者番号' %>
                <%= f.text_field :user_number, id: 'user_number', class: 'form-control user-number-input', maxlength: 8 %>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <%= f.file_field :image, class: 'dropify', 'data-height': '180', 'data-default-file': URI.decode(current_user.image_url),
                  'data-allowed-file-extensions': 'jpg jpeg gif png', 'data-max-file-size': '2M', 'data-show-remove': 'false', accept: 'image/jpg, image/jpeg, image/gif, image/png' %>
              </div>
            </div>
          </div>
          <div>
            <%= f.submit "更新", class: "btn btn-primary", data: { disable_with: false } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- js -->
<%= javascript_include_tag 'vendors/scripts/core' %>
<%= javascript_include_tag 'vendors/scripts/script.min' %>
<%= javascript_include_tag 'vendors/scripts/process' %>
<%= javascript_include_tag 'vendors/scripts/layout-settings' %>
<%= javascript_include_tag 'dropify/js/dropify.min' %>

<script>
  $(document).ready(function(){
		$('.dropify').dropify({
      messages: {
        'default': '画像ファイルをドラッグ&ドロップ',
        'replace': '画像ファイルをドラッグ&ドロップ',
        'remove':  '削除',
        'error': '',
      },
      tpl: {
        message: '<div class="dropify-message"><span class="file-icon" /> <p>{{ default }}<br>または<br>画像ファイルを選択</p></p></div>',
        preview: '<div class="dropify-preview"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-infos-message">{{ replace }}<br>または<br>画像ファイルを選択</p></div></div></div>',
      },
      error: {
        'fileSize': '2MB以下の画像を選択してください。',
        'fileExtension': '拡張子がjpg、jpeg、gif、pngの画像を選択してください。',
      }
    });
	});
</script>
