<%= form_with form_hash do |f| %>
  <h1><%= sign_up ? '会員登録' : 'ログイン' %></h1>
  <% if sign_up %>
    <%= f.text_field :user_name, placeholder: 'ユーザー名', maxlength: 15 %>
  <% end %>
  <%= f.text_field :user_number, placeholder: '利用者番号', maxlength: 8 %>
  <%= f.password_field :password, placeholder: 'パスワード', maxlength: 8 %>
  <% if sign_up %>
    <%= f.password_field :password_confirmation, placeholder: 'パスワード（確認用）', maxlength: 8 %>
  <% end %>
  <%= link_to (sign_up ? '登録' : 'ログイン'), 'javascript:void(0);', class: 'btn', onclick: (sign_up ? 'signUpCheck()' : 'signInCheck()') %>
<% end %>
