<div class="header">
	<div class="header-left">
		<div class="menu-icon dw dw-menu"></div>
		<% if search_keyword %>
			<div class="search-toggle-icon icon-copy fa fa-search" data-toggle="header_search"></div>
			<div class="header-search">
				<%= form_with url: automation_settings_path, local: true, method: 'get', html: { style: 'padding: 0px;margin: 0px;' } do |f| %>
					<div class="form-group mb-0">
						<%= f.text_field :search_keyword, class: 'form-control search-input', placeholder: '名称を入力', value: search_keyword, maxlength: 30, oninput: 'toggleDisplaySearchClear(this);' %>
						<div class="search-execute">
							<%= link_to automation_settings_path, class: 'search-clear', "data-toggle": "tooltip", "data-placement": "left", "title": "検索条件をクリア", data: { turbolinks: false } do %>
								<i class="icon-copy fa fa-close search-clear-icon" aria-hidden="true"></i>
							<% end %>
							<%= button_tag :submit, class: "search-button", "data-toggle": "tooltip", "data-placement": "right", "title": "検索" do %>
								<i class="icon-copy fa fa-search search-magnifying-glass-icon" aria-hidden="true"></i>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="header-right">
		<div class="user-info-dropdown">
			<div class="dropdown">
				<%= link_to '#', class: 'dropdown-toggle', role: 'button', 'data-toggle': 'dropdown' do %>
					<span class="user-icon">
						<%= image_tag 'default_icon.png', alt: '' %>
					</span>
					<span class="user-name"><%= "#{current_user.user_name}さん" %></span>
				<% end %>
				<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
					<%= link_to 'profile.html', class: 'dropdown-item' do %>
						<i class="dw dw-user1"></i> プロフィール
					<% end %>
					<%= link_to session_path, method: :delete, class: "dropdown-item" do %>
						<i class="dw dw-logout"></i> ログアウト
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
