<div class="header">
	<div class="header-left">
		<div class="menu-icon dw dw-menu"></div>
		<div class="search-toggle-icon icon-copy fa fa-search" data-toggle="header_search"></div>
		<% if search_keyword %>
			<div class="header-search">
				<%= form_with url: automation_settings_path, local: true, method: 'get', html: { style: 'padding: 0px;margin: 0px;' } do |f| %>
					<div class="form-group mb-0">
						<!--<i class="dw dw-search2 search-icon"></i>-->
						<%= f.text_field :search_keyword, class: 'form-control search-input', placeholder: '名称を入力', value: search_keyword %>
						<div class="dropdown">

							<!--<a class="search-button dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">-->
							<%= button_tag :submit, class: "search-button dropdown-toggle no-arrow", "data-toggle": "tooltip", "data-placement": "right", "title": "検索" do %>
								<!--<i class="ion-arrow-down-c"></i>-->
								<i class="icon-copy fa fa-search" aria-hidden="true" style="color: #FFFFFF;"></i>
							<% end %>
							<!--</a> -->

							<!--
							<div class="dropdown-menu dropdown-menu-right">
								<div class="form-group row">
									<label class="col-sm-12 col-md-2 col-form-label">From</label>
									<div class="col-sm-12 col-md-10">
										<input class="form-control form-control-sm form-control-line" type="text">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-12 col-md-2 col-form-label">To</label>
									<div class="col-sm-12 col-md-10">
										<input class="form-control form-control-sm form-control-line" type="text">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-12 col-md-2 col-form-label">Subject</label>
									<div class="col-sm-12 col-md-10">
										<input class="form-control form-control-sm form-control-line" type="text">
									</div>
								</div>
								<div class="text-right">
									<button class="btn btn-primary">Search</button>
								</div>
							</div>
							-->
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="header-right">
		<!--
		<div class="dashboard-setting user-notification">
			<div class="dropdown">
				<a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
					<i class="dw dw-settings2"></i>
				</a>
			</div>
		</div>
		-->
		<div class="user-notification">
			<div class="dropdown">
				<!-- 通知マーク -->
				<!--
				<a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
					<i class="icon-copy dw dw-notification"></i>
					<span class="badge notification-active"></span>
				</a>
				-->
				<div class="dropdown-menu dropdown-menu-right">
					<div class="notification-list mx-h-350 customscroll">
						<ul>
							<li>
								<a href="#">
									<%= image_tag 'vendors/images/img.jpg', alt: '' %>
									<h3>John Doe</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
								</a>
							</li>
							<li>
								<a href="#">
									<%= image_tag 'vendors/images/photo1.jpg', alt: '' %>
									<h3>Lea R. Frith</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
								</a>
							</li>
							<li>
								<a href="#">
									<%= image_tag 'vendors/images/photo2.jpg', alt: '' %>
									<h3>Erik L. Richards</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
								</a>
							</li>
							<li>
								<a href="#">
									<%= image_tag 'vendors/images/photo3.jpg', alt: '' %>
									<h3>John Doe</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
								</a>
							</li>
							<li>
								<a href="#">
									<%= image_tag 'vendors/images/photo4.jpg', alt: '' %>
									<h3>Renee I. Hansen</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
								</a>
							</li>
							<li>
								<a href="#">
									<%= image_tag 'vendors/images/img.jpg', alt: '' %>
									<h3>Vicki M. Coleman</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="user-info-dropdown" style="margin-right: 70px;">
			<div class="dropdown">
				<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
					<!-- ユーザーのアイコン -->
					<span class="user-icon">
						<%= image_tag 'default_icon.png', alt: '' %>
					</span>
					<span class="user-name"><%= "#{current_user.user_name}さん" %></span>
				</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
					<a class="dropdown-item" href="profile.html"><i class="dw dw-user1"></i> プロフィール</a>
					<!--
					<a class="dropdown-item" href="profile.html"><i class="dw dw-settings2"></i> 設定</a>
					<a class="dropdown-item" href="faq.html"><i class="dw dw-help"></i> ヘルプ</a>
					-->
					<%= link_to sign_out_path, method: :delete, class: "dropdown-item" do %>
						<i class="dw dw-logout"></i> ログアウト
					<% end %>
				</div>
			</div>
		</div>
		<!--
		<div class="github-link">
			<a href="https://github.com/dropways/deskapp" target="_blank"><img src="assets/vendors/images/github.svg" alt=""></a>
		</div>
		-->
	</div>
</div>
