<!DOCTYPE html>
<html>
  <head>
    <title>AutoOsakaCityOpas</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'load' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'load' %>
    <%= render partial: 'shared/meta' %>
		<%= favicon_link_tag('favicon.ico') %>

		<%= javascript_include_tag 'https://use.fontawesome.com/releases/v5.15.4/js/all.js' %>

		<!-- Google Font -->
		<%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap' %>

		<!-- icheck -->
		<%= stylesheet_link_tag 'icheck/skins/flat/blue', type: "text/css" %>

		<!-- CSS -->
		<%= stylesheet_link_tag 'vendors/styles/core', type: "text/css" %>
		<%= stylesheet_link_tag 'vendors/styles/icon-font.min', type: "text/css" %>
		<%= stylesheet_link_tag 'src/plugins/datatables/css/dataTables.bootstrap4.min', type: "text/css" %>
		<%= stylesheet_link_tag 'src/plugins/datatables/css/responsive.bootstrap4.min', type: "text/css" %>
		<%= stylesheet_link_tag 'vendors/styles/style', type: "text/css" %>
		<%= yield :css %>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<%= javascript_include_tag 'https://www.googletagmanager.com/gtag/js?id=UA-119386393-1', async: true %>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-119386393-1');
		</script>
    <%= javascript_include_tag '//cdn.jsdelivr.net/npm/sweetalert2@11' %>

		<%= stylesheet_link_tag 'https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css' %>
  </head>
  <body>
		<%= render partial: 'shared/header', locals: { search_keyword: @search_keyword } %>
		<%= render partial: 'shared/left_side_bar' %>
    <%= yield %>
  </body>
</html>

<script type="text/javascript">
	<% if flash[:success] %>
		Swal.fire({
			icon: 'success',
			text: "<%= flash[:success] %>",
			showConfirmButton: false,
			timer: 2000
		});
	<% end %>

	<% if flash[:error] %>
		Swal.fire({
			icon: 'error',
			html: 'エラーが発生しました。<br>' + "<%== Array(flash[:error]).map { |message| "<li style='text-align: left;'>#{message}</li>" }.join %>"
		});
	<% end %>
</script>
