<style>
.wrapper nav.navbar{
  background-color: #2C3E50 !important;
}
</style>

<!DOCTYPE html>
<html>
  <head>
    <title>OsakaOpasAutoManipulation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- トップ画面で必要なものを読み込み -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta content="" name="keywords">
    <meta name="author" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Lato:400,300,700,900" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <nav style="height: 100px;background-color: #2C3E50;" class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
          <div class="container">
              <%= link_to root_path, class: 'navbar-brand' do %>
                <%= image_tag 'logo.png', id: 'logo' %>
              <% end %>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ms-auto">
                      <li class="nav-item mx-0 mx-lg-1">
                        <%= link_to 'ログイン', sign_in_path, class: 'nav-link py-3 px-0 px-lg-3 rounded' %>
                      </li>
                      <li class="nav-item mx-0 mx-lg-1">
                        <%= link_to '会員登録', sign_up_path, class: 'nav-link py-3 px-0 px-lg-3 rounded' %>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
      <%= yield %>
      <div class="copyright py-4 text-center text-white">
        <div class="container">
          <small>Copyright &copy; OsakaCityOpas 2022 All Rights Reserved.</small>
        </div>
      </div>
    </div>
  </body>
</html>
