<!DOCTYPE html>
<html>
  <head>
    <title>OsakaOpasAutoManipulation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'load' %>

    <!-- トップ画面で必要なものを読み込み -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta content="" name="keywords">
    <meta name="author" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Lato:400,300,700,900" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- =======================================================
    * Template Name: Amoeba - v4.7.0
    * Template URL: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>
  <body>
    <%= render partial: 'shared/navbar' %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>

    <% if flash[:danger].present? %>
      <div class="modal fade" id="show-messages-modal" tabindex="-1" aria-labelledby="show-messages-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="show-messages-modal-label">エラー内容</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <ul>
                <% Array(flash[:danger]).each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary close-messages-button" data-bs-dismiss="modal">閉じる</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>

<script>
  <% if flash[:danger].present? %>
    const showMessagesModal = new bootstrap.Modal(document.getElementById('show-messages-modal'), {
      keyboard: false
    })
    showMessagesModal.show();
  <% end %>
</script>
